{{!< default}}

  <div class="main-post-list">

    <ol class="post-list">
      {{#foreach posts}}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
        <p class="excerpt">{{excerpt}}&hellip;</p>
        <div class="post-list__meta"><img src="{{author.image}}" alt="profile image for {{author.name}}" class="avatar post-meta__avatar" /><span class="post-meta">
    <time datetime="{{date format='YYYY-MM--DD'}}">{{date format="DD MMM YYYY"}}</time> 
    {{#if tags}}on {{tags}}{{/if}} 
    <a href="{{url}}#disqus_thread">Comments</a>
</span></div>
        <hr class="post-list__divider" />
      </li>
      {{/foreach}}
    </ol>

    {{pagination}}

  </div>